/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}


.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #707070;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #1d1b31;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  min-height: 100vh;
  background-color: #f0f0f0; /* Set the background color */
  box-sizing: border-box;
  padding-bottom: 20px;
}

.home-section-explore{
  transition: all 0.5s ease;
  min-height: 100%;
  box-sizing: border-box;
  padding-bottom: 20px;
  margin: 10px 20px 20px 20px;
}

.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 23px;
  font-weight: 600;
}

/* .search-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  width: 100%;
  max-width: 300px; 
  margin: 0 auto; 
} */

.search-above {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  padding-right: 60px; /* Add some padding to the right */
}

.search-container {
  display: flex;
  align-items: center;
}


#searchInput {
  width: 0; /* Initially hidden */
  padding: 5px;
  box-sizing: border-box; /* Include padding in width calculation */
  transition: width 0.3s ease-in-out;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid;
}

#searchButton {
  background-color: #f1f1f1;
  border: none;
  height: 30px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}



/* @media screen and (min-width: 768px) {
  .search-container {
    max-width: 500px;
  }
} */

@media screen and (max-width: 768px) {
  /* Adjust styles for screens smaller than 768px */
  .search-container {
    display: block; /* Display as block on small screens */
    text-align: center;
  }

  #searchInput {
    width: 100%; /* Make input full width */
    border-radius: 5px; /* Remove rounded corners on the left */
    margin-bottom: 10px; /* Add some bottom margin */
  }

  #searchButton {
    border-radius: 5px; /* Remove rounded corners on the right */
  }

  .search-above {
    padding: 20px; /* Reduce padding on smaller screens */
  }
}


.container {
  margin-left: 20px;
  text-align: left;
  margin-top: 20px;
}

h1 {
  margin-bottom: 10px;
}

#addNewButton, #addNewButton2 {
  padding: 8px 12px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 20px;
  /* width: 130px; */
  height: 40px;
  font-weight: 500;
  background-color: #5E4B8B;
  font-weight: 600;
  color: antiquewhite;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s ease;
}



@media screen and (max-width: 768px) {
  /* Adjust styles for screens smaller than 768px */
  #addNewButton, #addNewButton2 {
    display: block;
    margin: 10px auto;
  }
}

.container-above {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-right: 30px;
}

#familyButton {
  padding: 5px 10px;
  margin: 12px 2px; /* Add spacing between buttons */
  width: 130px;
  height: 40px;
  font-weight: 500;
  background-color: #5E4B8B;
  font-weight: 600;
  color: antiquewhite;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s ease;
}

#individualButton {
  width: 130px;
  height: 40px;
  color: #5E4B8B;
  background-color: rgb(224, 223, 223);
  border: 1px solid #5E4B8B;
  font-weight: 600;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 30px;
  margin: 12px 2px; /* Add spacing between buttons */
  transition: .3s ease;
}

@media screen and (max-width: 768px) {
  /* Adjust styles for screens smaller than 768px */
  .container-above {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #individualButton, #familyButton {
    margin: 5px 0; /* Add vertical margin for buttons */
  }
}

.dash-content .activity .activity-data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.activity .activity-data{
  display: flex;
}
.activity-data .data{
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}
.activity-data .data-title{
  font-size: 20px;
  font-weight: 500;
  color: #000;
}
.activity-data .data .data-list{
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  white-space: nowrap;
  color: #000;
}

@media (max-width: 1000px) {
  .activity .activity-data{
      overflow-X: scroll;
  }
}

@media (max-width: 500px) {
  body{
      overflow-X: scroll;
  }
}

.xx {
  cursor: pointer;
}

@media (max-width: 400px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
  .sidebar{
    width: 78px;
  }
  .sidebar.close{
    width: 0;
  }
  .home-section{
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }
  .sidebar.close ~ .home-section{
    width: 100%;
    left: 0;
  }
}

.measurement-div {
  padding: 30px;
}

.measure-header {
  color: darkslategrey;
  margin-bottom: 10px;
}

.select-measure {
  width: 50%;
  padding: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 8px;
}

@media (max-width: 500px) {
  .measure-header {
    font-size: 15px;
  }

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

.spinner-container {
  text-align: center;
  margin-top: 20px;
}

.measurement-div, .app {
  min-height: 100vh;
}

.appointment-div {
  padding: 30px;
}

.appointment-form {
  margin-left: 20px;
  margin-right: 20px;
}